<% layout("/layouts/boilerplate")-%>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
</style>
<div id="filters">
  <div class="filter d-none d-md-block" data-category="trending">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter d-none d-md-block" data-category="rooms">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter d-none d-md-block" data-category="iconic_city">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic City</p>
  </div>
  <div class="filter d-none d-md-block" data-category="amazing_pools">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
  <div class="filter d-none d-md-block" data-category="camping">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter d-none d-md-block" data-category="beach">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>
  <div class="filter d-none d-md-block" data-category="castles">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter d-none d-md-block" data-category="countryside">
    <div><i class="fa-solid fa-hat-cowboy"></i></div>
    <p>Countryside</p>
  </div>
  <div class="filter d-none d-md-block" data-category="apartments">
    <div><i class="fa-solid fa-building"></i></div>
    <p>Apartments</p>
  </div>
  <div class="filter d-none d-md-block" data-category="boats">
    <div><i class="fa-solid fa-sailboat"></i></div>
    <p>Boats</p>
  </div>
  <div class="filter d-none d-md-block" data-category="campers">
    <div><i class="fa-solid fa-caravan"></i></div>
    <p>Campers</p>
  </div>

  <div class="tax-toggle d-none d-md-block">
    <div class="form-check form-switch">
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
    </div>
  </div>
</div>
<!-- Display an error message if no house listings are found for the specified category -->
<div id="message" style="display: none" class="btn btn-info"></div>
<!-- End of error message section -->
<div
  class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mt-3"
>
  <% for(let listing of allListings) { %>
  <div class="col mb-4" data-category="<%= listing.category %>">
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          style="height: 20rem"
          alt="Listing image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title card-text"><%= listing.title %></h5>
          <p class="card-text">
            &#x20A8;<%= listing.price.toLocaleString("en-PK") %> /night
            <i class="text-muted tax-info">&nbsp; +12% GST</i>
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>

<script>
  const taxtSwitch = document.getElementById('flexSwitchCheckDefault');

  taxtSwitch.addEventListener('click', () => {
    const taxInfo = document.getElementsByClassName('tax-info');

    for (info of taxInfo) {
      if (info.style.display != 'inline') {
        info.style.display = 'inline';
      } else {
        info.style.display = 'none';
      }
    }
  });

  document.querySelectorAll('.filter').forEach((filter) => {
    filter.addEventListener('click', () => {
      const category = filter.dataset.category;

      showListingsByCategory(category);
    });
  });

  function showListingsByCategory(category) {
    const allListings = document.querySelectorAll('.col.mb-4');

    let found = false;

    allListings.forEach((listing) => {
      if (listing.dataset.category === category) {
        listing.style.display = 'block';

        found = true;
      } else {
        listing.style.display = 'none';
      }
    });

    if (!found) {
      showMessage(`No listings found for ${category} category.`);
    } else {
      hideMessage();
    }
  }

  function showMessage(message) {
    const messageElement = document.getElementById('message');

    messageElement.textContent = message;

    messageElement.style.display = 'block';
  }

  function hideMessage() {
    const messageElement = document.getElementById('message');

    messageElement.style.display = 'none';
  }
</script>
