<% layout("/layouts/boilerplate")-%>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3>Listing Details</h3>
  </div>
  <div class="card col-6 offset-3 show-card">
    <img
      src="<%= listing.image %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body mt-3">
      <p class="card-text">
        <b>Title:</b> <%= listing.title %> <br />
        <b>Description:</b> <%= listing.description %> <br />
        <b>Price:</b> &#x20A8;<%= listing.price.toLocaleString("en-PK") %>
        <br />
        <b>Location:</b> <%= listing.location %> <br />
        <b>Country:</b> <%= listing.country %>
      </p>
    </div>
  </div>
  <div class="btns mb-3">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn edit-btn col-1 offset-3"
      >Edit</a
    >

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
</div>
